@{
    ViewData["Title"] = "Welcome Donor";
}
<div class="text-center mt-5">
    <h2>Welcome to the Giving Platform</h2>
    <p class="lead">Choose what you’d like to do:</p>
    <a href="/Donate" class="btn btn-success btn-lg m-2">Donate Now</a>
    <a href="/Donate/ViewDonationHistory" class="btn btn-primary btn-lg m-2">Donation History</a>
</div>